*.7z
*.rar
*.zip
*.tar.gz
*.exe
!iconv.exe
!oggdec.exe
!tisunpack.exe
!tile2ee.exe
!TobExLoader.exe
setup-thieving-skills-for-bards
setup-thieving-skills-for-bards.command
thieving-skills-for-bards/backup/*
thieving-skills-for-bards/*.html
